.classpath
.settings
.project
/target/*
																																																																																																																																																																																																																																																																																																																																																																																					.x
																																																																																																																																																																																																																																																																																																																																																																																					:X


